* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0;
}
.main-container {
    min-height: 100vh;
    font-weight: 500;
}
.header {
    height: 60px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}
.website-logo {
    height: 30px;
    width: 120px;
    background-color: #ffffff;
    color: black;
}
.website-title {
    font-size: 1.25em;
    color: #2a362d;
}
.content {
    z-index: -1;
}
.section-one {
    background-color: #46594b;
    margin-top: 60px;
    padding: 4em 1.25em 4em 1.25em ;
    background-image: url('./images/background.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center right -50%;
}
.main-heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 0.5em;
    line-height: 1em;
}

.sub-heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.75em;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 0.5em;
}
.description {
    font-size: 1em;
    color: #ffffff;
    line-height: 1.5em;
}
.sub-description {
    font-size: 1em;
    color: #ffffff;
    margin-top: 0.8em;
}
.learn-more-container {
    border-radius: 12px;
    height: 40px;
    width: 100%;
    display: flex;
    margin: 1em 0 1em 0 ;
}
.input-element-button {
    display: flex;
    width: 100%;
}
.input-element {
    height: 40px;
    width: 70%;
    outline: none;
    border: none;
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
    padding-left: 1em;
    font-size: 0.85em;
}
.learn-more {
    height: 100%;
    width: 30%;
    font-size: 0.9em;
    background-color: green;
    color: #ffffff;
    border: none;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.image-card-container {
    margin-bottom: 1.5em;
}
.welcome-card {
    height: 200px;
    width: 100%;
    border-radius: 0.5em;
    margin-top: 1.25em;
}
.clients-description {
    font-size: 1.25em;
    color: #ffffff;
    margin-bottom: 0.5em;
}
.clients {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.clients-logo {
    height: 3.5em;
    width: 5.5em;
}
.vidyard-logo {
    height: 4em;
    width: 5.5em;
}
.fullstory-logo {
    height: 2.5em;
    width: 5.5em;
}
@media screen and (min-width: 768px) {
    .header {
        display: none;
    }
    .section-one {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        background-size: 28%;
        background-position:  center bottom 30%;
        border: 1px solid #ffffff;
        margin-right: 0;
        padding:4em 0 4em 4em;
        margin-top: 0;
    }
    .security-reviews-solved-container{
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .main-heading {
        font-size: 2.5em;
    }
    .description {
        font-size: 1.1em;
        opacity: 0.8;
    }
    .image-card-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 65%;
        height: 500px;
        padding-right: 0;
        margin-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .welcome-card {
        width: 90%;
        height: 80%;
        padding-right: 0;
        margin-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .clients-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-top: 32px;
    }
    .clients-description {
        width: 25%; 
        font-size: 1.25em;
        opacity: 0.7;
    }
    .clients {
        justify-content: space-evenly;
        width: 70%;
    }
}
.section-two {
    background-color: #ffffff;
    padding: 4em 1.25em 1.25em 1.25em ;
}
.close-deals-faster-container {
    text-align: center;
}
.easy-vender-reviews-container {
    text-align: center;
}
.section-two-main-heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
    font-weight: 500;
    color: #46594b;
    margin-bottom: 0.5em;
    line-height: 1.25em;

}
.section-two-description {
    font-size: 1em;
    font-weight: 500;
    color: #46594b;
    line-height: 1.5em;
}
.section-two-sub-description {
    font-size: 1em;
    color: #46594b;
    margin-top: 0.8em;
    line-height: 1.5em;
}
.learn-more-button {
    display: inline-block;
    height: 50px;
    width: 100%;
    font-size: 1em;
    background-color: green;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    border: none;
    margin-top: 1em;
    margin-bottom: 3em;
}
.horizontal-line {
    width: 100%;
    border-color: #46594b;
    margin: 1em 0 1em 0;
    opacity: 0.5;
}

.sub-heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7em;
    font-weight: 500;
    color: #46594b;
}
.text-opacity {
    opacity: 0.5;
}
.card-container {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("./images/background.svg");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: left bottom -10%;
    margin-bottom: 2em;
}
.card {
    height: 200px;
    width: 200px;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.test-ui-logo {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.section-two-second-container {
    background-image: url('./images/solid-shape.svg');
    background-repeat: no-repeat;
    background-position: center right -15%;
    background-size: 65%;
}
.review-approve-container {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.review-approve-floating-card {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    left: 0;
    top: 30px;
    height: 60px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 10;
    background-color: #ffffff;
}
.review-approve-text {
    font-size: 12px;
    color:#2a362d;
}
.review-approve-button {
    height: 35px;
    font-size: 10px;
    background-color: green;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    border: none;
}
.review-approve-card {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}
.review-approve-card-logo {
    height: 35px;
    width: 35px;
}
.review-approve-card-image {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.empty-elements-container {
    width: 30%;
}
.small-space {
    height: 16px;
    width: 70px;
    border-radius: 5px;
    background-color: #e3e6e4;
    margin-bottom: 5px;
}
.large-space {
    height: 16px;
    width: 100px;
    border-radius: 5px;
    background-color: #e3e6e4;
}
@media screen and (min-width: 768px) {
    .section-two {
        padding:4em 0 4em 4em;
    }
    .section-two-first-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .close-deals-faster-container{
        width: 100%;
        padding-top: 3em;
    }
    .features-container {
        width: 45%;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .card-container {
        width: 45%;
        height: 350px;
        background-image: url("./images/background.svg");
        background-repeat: no-repeat;
        background-position: left bottom -8%;
        background-size: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .card {
        height: 250px;
        width: 250px;
    }
    .test-ui-logo {
        height: 100%;
        width: 100%;
    }
    .section-two-second-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-position: right bottom;
        background-size: 35%;
        padding-top: 3em;
        margin-bottom: 3em;
    }
    .easy-vender-reviews-container {
        width: 100%;
        padding-top: 3em;
    }
    .learn-more-button{
        display: inline;
        min-width: 100px;
        max-width: 150px;
    }
    .reviews-approve-section {
        width: 50%;
        padding: 16px;
    }
    .review-approve-container {
        margin-left: 24px;
        width: 90%;
        background-color: #fff;
    }
    .review-approve-floating-card {
        height: 70px;
    }
    .review-approve-card {
        height: 70px;
        width: 100%;
    }
}
@media screen and (min-width: 1024px) {
    .card-container {
        height: 400px;
        background-position:  left bottom -80%;
        background-size: 50%;
    }
    .features-container {
        padding-top: 50px;
    }
    .card {
        height: 325px;
        width: 300px;
    }
    .section-two-second-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-position: right bottom;
        background-size: 20%;
        padding-top: 3em;
        margin-bottom: 3em;
    }
}
.section-three {
    background-color: #46594b;
    padding: 4em 1.25em 4em 1.25em ;
    text-align: center;
    padding: 48px 0 0 0;
    margin-left: 0;
    margin-right: 0;
}
.slider-container {
    width:100%; 
    min-height: 300px;
    max-height: 500px;
    display: grid;
    grid-template-columns: 12% 70% 12%;
    column-gap: 12px;
    margin-bottom: 48px;
}
.sliding-item-one {
    min-height: 300px;
    background-color: #d1e6d6;
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
.middile-sliding-item {
    min-height: 300px;
    background-color: #d1e6d6;
    border-radius: 1em;
    text-align: center;
}
.sliding-item-three {
    min-height: 300px;
    background-color: #d1e6d6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 16px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.hide-sliding-text {
    display: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.75em;
    font-weight: 500;
    color: #46594b;
    margin-bottom: 0.5em;
}
.sliding-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.75em;
    font-weight: 500;
    color: #46594b;
    margin-bottom: 0.5em;
}
.image-designation-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
}
.smarsh-card-pic {
    height: 3em;
    width: 3em;
    border-radius: 50%;
}
.designation {
    font-size: 1em;
    font-weight: 500;
    color: #46594b;
    line-height: 1.5em;
}
@media screen and (min-width: 768px) {
    .slider-container {
        grid-template-columns: 14% 70% 14%;
    }
    .sliding-item-three {
        margin-right: 0;
        padding-right: 0;
    }
    .middile-sliding-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 16px;
    }
    .hide-sliding-text {
        display: block;
    }
    .image-designation-container {
        width: 50%;
        padding: 1em;
    }
    .smarsh-card-pic {
        height: 3.5em;
        width: 3.5em;
        margin-right: 8px;
    }
    .designation {
        font-size: 1.1em;
        margin-left: 8px;
    }
}
.get-started-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./images/background.svg');
    background-repeat: no-repeat;
    background-position: center left -30%;
    background-size: 28%;
    height: 200px;
    margin-top: 4em;
}
.get-started-section-heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 0.5em;
    line-height: 1em;
    padding-left: 24px;
    padding-right: 24px;
}
.get-started-button {
    min-height: 50px;
    font-size: 1em;
    background-color: green;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    border: none;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 3em;
}
@media screen and (min-width: 768px) {
    .get-started-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.footer {
    background-color: #46594b;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 8px;
    column-gap: 8px;
    padding: 4em 1.25em 4em 1.25em ;
}
.footer-image-container {
    grid-column: 1 / 4;
}
.footer-logo {
    height: 40px;
    width: 70px;
    background-color: transparent;
}

.footer-heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.75em;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 0.5em;
}
.footer-description {
    font-size: 1em;
    color: #ffffff;
    line-height: 1.5em;
    opacity: 0.7;
}
.icons {
    font-size: 20px;
    color: #ffffff;
    margin-right: 16px;
}

@media screen and (min-width: 768px) {
    .footer {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
}